/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ------------  D E F A U L T S  ----------- */


html{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav-block{
	display: flex;
	align-items: center;
}

ul{
    display: flex;
}

.nav-block > a{
	text-decoration: none;
	font-size: 46px;
	font-weight: bold;
	color: #FFFFFF;
	margin-right: 640px;
}

li > a{
    text-decoration: none;
	font-size: 26px;
	color: #626262;
	margin-right: 50px;
}

header{
	background-color: #B5B3BE;
	padding: 28px 50px;
}

.text p{
	font-size: 20px;
	line-height: 1.2;
	color: #FFFFFF;
	width: 55%;
	height: 20%;
	text-align: center;
	margin-top: 33%;
	margin-left: 20%;;
}


/* ------------ Home Page ----------- */
.container1{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/fruits.jpg");
    background-repeat: no-repeat;
}

/* ------------ Bananas Page ----------- */
.container2{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/bananas.jpg");
    background-repeat: no-repeat;
}

/* ------------ Oranges Page ----------- */
.container3{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/oranges.jpg");
    background-repeat: no-repeat;
}

/* ------------ Apples Page ----------- */
.container4{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/apples.jpg");
    background-repeat: no-repeat;
}

footer{
	font-size: 12px;
	color: #FFFFFF;
	position:absolute;
  	bottom: 190px;
	margin-left: 50px;
}