/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ------------  D E F A U L T S  ----------- */


html{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


.container{
	margin: 0 auto;
	width: 100%;
	max-width: 481px;
	min-height: 301px;
	background-image: url("../images/fruits_small.jpg");
	background-repeat: no-repeat;
}


.nav-block > a{
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 100px;

}

li > a{
    text-decoration: none;
	font-size: 18px;
	color: #626262;
	margin-right: 50px;
}



.text p{
	font-size: 20px;
	line-height: 1.2;
	color: #FFFFFF;
	width: 55%;
	height: 20%;
	text-align: center;
	margin-top: 33%;
	margin-left: 20%;;
}


.item_1:hover { 
	color: #FFE960;
	transition-duration: 0.5s;
}

.container_1 .item_1{
	color: #FFE960;
}

.item_2:hover { 
	color: #ffbb29;
	transition-duration: 0.5s;
}

.container_2 .item_2{
	color: #ffbb29;
}

.item_3:hover { 
	color: #f00e0e;
	transition-duration: 0.5s;
}

.container_3 .item_3{
	color: #f00e0e;
}


/* ------------ Footer ----------- */
footer{
	font-size: 12px;
	color: #FFFFFF;
	position:absolute;
  	bottom: 20%;
	margin-left: 50px;
}
  
  
  


/* lineup class and keyframes */

.lineUp{
color: #e4d296;
font-size: 30px;
}



.lineUp{
position: absolute;
top: 18%;
left: 40%;
transform: translate(-50%, -50%);
}

.lineUp {
	animation: 7s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
	0% {
	  opacity: 0;
	  transform: translateY(50%);
	}
	20% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	  transform: translateY(0%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
  }


  
  
  



 

/* ------------  T A B L E T  ----------- */

@media screen and (min-width: 768px) {

	.container{
		margin: 0 auto;
		width: 100%;
		max-width: 768px;
		min-height: 800px;
		background-image: url("../images/fruits_medium.jpg");
		background-repeat: no-repeat;
	}

	.nav-block > a{
		text-decoration: none;
		font-size: 32px;
		font-weight: bold;
		color: #FFFFFF;
	
		
	}
	
	li > a{
		text-decoration: none;
		font-size: 18px;
		color: #626262;
		margin-right: 50px;
		margin-left: 100px;
	}


	.lineUp{
		position: absolute;
		top: 27%;
		left: 40%;

		}


}


/* ------------  D E S K T O P  ----------- */

@media screen and (min-width: 1025px) {

	.nav-block{
		display: flex;
		align-items: center;
	}
	
	ul{
		display: flex;
	}

	header{
		background-color: #B5B3BE;
		padding: 28px 50px;
	}

/* ------------ Home Page ----------- */
.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/fruits.jpg");
    background-repeat: no-repeat;

	

	
}


.nav-block > a{
		
	font-size: 46px;
	font-weight: bold;
	color: #FFFFFF;
	margin-right: 450px;
	margin-left: 10px;
}


li > a{
	text-decoration: none;
	font-size: 26px;
	color: #626262;
	margin-right: 50px;
	margin-left: 50px;
}


.lineUp{
	position: absolute;
	top: 47%;
	left: 45%;
	transform: translate(-50%, -50%);
	}


/* ------------ Bananas Page ----------- */
.container_1{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/bananas.jpg");
    background-repeat: no-repeat;
}



/* ------------ Oranges Page ----------- */
.container_2{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/oranges.jpg");
    background-repeat: no-repeat;
}



/* ------------ Apples Page ----------- */
.container_3{
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-height: 800px;
	background-image: url("../images/apples.jpg");
    background-repeat: no-repeat;
}




}